:root {
    --color-morado: #331a66;
    --color-rosa:#c970e3 ;
    --Color-blanco: #e6edf8 ;
    --color-celeste: #63b4fa ;
    --color-azulClaro: #4c71f6 ;
    --color-moradClaro: #616def ;
}

body {
    margin: 0;
    padding: 20px;
    background-image: url("../img/ciudad.png");
    font-family: Arial, sans-serif;
    text-align: center;
    
}

.titulo{
    margin-bottom: 20px;
    color: var(--color-morado);
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.308);
    place-items: center;
    width: 15%;
    height: 600px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0,0.2);
}


.formulario input{
    margin:4px;
    padding:10px;
    border-radius:4px;
    border: none;
    width: 200px;
    height: 20px;
}

.fecha{
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;

}
.formulario input::placeholder{
    color: rgb(0, 0, 0);
}

.texto ::placeholder{
    color: red;
  font-size: 1.2em;
  font-style: italic;
}
.registrar-veci{
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1.2em;
    width: 300%; 
    max-width: 150px;
    background-color: var(--color-celeste);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.registrar-veci:hover{
    background-color: rgba(0, 0, 0, 0.637);
    color: var(--Color-blanco);
}


