
body{
    background-image:url("../img/ciudad.png");
  /*background-color:black;*/
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container-principal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    display: flex;
    justify-content: center;
    background-color: rgba(151, 15, 15, 0.171);
    align-items: center;
    width:50%;
}
.contenedor form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.contenedor form input{
  padding:10px; 
  margin:4px;
  border-radius:5px;
  border:none;
}
.contenedor form input::placeholder{
  color:black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:1rem;
  text-transform: capitalize;  
}


